<header>
  <h1 id="title">twinikitter(ツイニキター!!)</h1>
</header> 
<div class="wrapper">
　<h2 id="about">あなたの「ついに来たー！！」をシャウトしてください。</h2>
　 <br>
    <div id="shout"><%= link_to '叫んでみる', new_blog_path %></div>
    <table border="1" align="center">
     <tr>
   <caption id="voice">ツイニキター！！　一覧</caption>
   
    　</tr>
　　<% @blogs.each do |blog| %>
      <tr>
    <td><%= blog.shout %></td>
    <td><%= link_to '編集する', edit_blog_path(blog.id) %></td>
    <td><%= link_to '削除する', blog_path(blog.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
      </tr>
    <% end %>
    </table>
</div>
<footer>
   <p id ="copyright">© 2019 Copyright twinikitter Corp.</p>
</footer>